:root{
    --purple50: hsl(260, 100%, 95%);
    --purple300: hsl(264, 82%, 80%);
    --purple500: hsl(263, 55%, 52%);

    --white: hsl(0, 0%, 100%);
    --grey100: hsl(214, 17%, 92%);
    --grey200: hsl(0, 0%, 81%);
    --grey400: hsl(224, 10%, 45%);
    --grey500: hsl(217, 19%, 35%);
    --darkblue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);

    
}
*{
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
}
body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}
h5, h6, h2, h2{
    margin: 0;
}
.container{
    display: grid;
    gap: 32px;
    margin: 0 4.563rem;
}
.article{
    display: grid;
    justify-self: center;
}
.wrapper{
    display: grid;
    grid-template-rows: 28px auto auto;
    align-content: start; 
    row-gap: 16px;
    padding: 32px;
    border-radius: 0.5rem;
}
.border-purple{
    border: 2px solid var(--purple300);
}
h2{
    margin: 0;
}
h4{
    margin: 0;
}
.author-info{
   display: flex;
   
}
.author-img{
    border-radius: 50%;
    max-width: 1.75rem;
    max-height: 1.75rem;
}
.meta{
    margin-left: 1rem;
}
h5{
    font-size: 13px;
    line-height: 1.1;
}
h6{
    font-size: 11px;
    line-height: 1.1;
}
.daniel{
    background-color: var(--purple500);
}
h2{   
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}
h4{
    margin: 0;
    font-size: 13px;
    line-height: 1.4;
}
.daniel h2, .jonathan h2{
    color: var(--white);
}
.daniel h4{
    color: var(--purple50);
}
.daniel h5, .jonathan h5, .patrick h5, .patrick h6{
    color: var(--white);
}
.daniel h6{
    color: var(--purple50);
}

.jonathan{
    background-color: var(--grey500);
}
.jonathan h4, .patrick h4{
    color: var(--grey100);
}
.jonathan h6, .patrick h2, .kira h6{
    color: var(--grey200);
}

.jeanette{
    background-color: var(--white);
    box-shadow: 0px 0px 5px -3px black;
}
.jeanette h5, .jeanette h2, .kira h5, .kira h2{
    color: var(--grey500);
}
.jeanette h6, .jeanette h4, .kira h4{
    color: var(--grey400);
}

.patrick{
    background-color: var(--darkblue);
}

.kira{
    background-color: var(--white);
    box-shadow: 0px 0px 5px -3px black;
}


@media (min-width: 48em) and (max-width: 69.625em){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .article:has(.daniel){
        grid-column: 1 / -1;   
    }
    .article:has(.jonathan){
        grid-column: 1;
    }
    .article:has(.jeanette){
        grid-column: 2;  
    }
    .article:has(.patrick){
        grid-column: 1/ -1;  
    }
    .article:has(.kira){
        grid-column: 1/ -1;
    }
    /* .wrapper .quotation-img{
        display: block;
        position: absolute;
                          
        left: 100px;
        width: 102px;                 
        height: auto;
        pointer-events: none;
    } */
    .daniel{
        background-image: url("images/bg-pattern-quotation.svg");
        background-repeat: no-repeat;
        background-position: 375px 0;   /* куда поставить */
        background-size: 104px auto;
    }
}

@media (min-width: 69.625em){
    body{
        margin: 0 32px;
    }
    .container{
        grid-template-columns: repeat(4, 1fr);
        max-width: 69.625em;
    }
    .article:has(.daniel){
        grid-column: 1 / span 2;   
    }
    .article:has(.jonathan){
        
        grid-column: 3;
    }
    .article:has(.jeanette){
        
        grid-column: 1;
    }
    .article:has(.patrick){
        grid-column: 2/ span 2;
    }
    .article:has(.kira){
        grid-column: 4;
        grid-row: 1/ span 2;
    }
    .daniel{
        background-image: url("images/bg-pattern-quotation.svg");
        background-repeat: no-repeat;
        background-position: 375px 0;   /* куда поставить */
        background-size: 104px auto;
    }
}
